:root {
    --brand-color: #212121;
    --brand-color-blue: #2196F3;
    --brand-color-border: #ECECEC;
    --brand-color-link: #757575;
    --brand-color-white: #FFFFFF;
    --brand-color-black: #000000;
    --brand-color-background: #2F303A;
    --margin-li: 30px;
}

html {
    box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    color: var(--brand-color);
    }

h1 {
    font-size: 44px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3637;
    letter-spacing: 0.06em;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 0;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-align: center;
}

img {
display: block;
max-width: 100%;
}

.header {
    display: flex;
    padding: 24px 0px 24.49px 0;
    border-bottom: solid 1px var(--brand-color-border);
    margin: 0 auto;
}

nav.container {
    display: flex;
    align-items: center;
}

.header a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.172;
    font-weight: 500;
    letter-spacing: 0.02em;
}

a.logo {
    color: var(--brand-color-black);
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    line-height: 1.1738;
    margin-right: 93px;
}

a.logo:hover {
    color: var(--brand-color-black);
}

span.web {
    color: var(--brand-color-blue);
}


nav a {
    color: var(--brand-color);
    font-weight: 500;
}

nav li:not(:last-child) {
    margin-right: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
        }


a:hover, a:focus {
    color: var(--brand-color-blue);
}

.contacts {
    margin-left: auto;
}

.mail {
    color: var(--brand-color-link);
}

.tel {
    margin: 0;
    color: var(--brand-color-link);
}

a {
    color: var(--brand-color-link);
}


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    }

.section {
    padding: 94px 0;
}

.banner {
    background-color: var(--brand-color-background);
    padding: 180px 450px;
    text-align: center;
    color: var(--brand-color-white);
    font-size: 44px;
    font-weight: 700;
}

.banner h1 {
    margin: 29px 0;
}

.banner button {
    background-color: var(--brand-color-blue);
    color: var(--brand-color-white);
    padding: 10px 39px;
    font-weight: 700;
    line-height: 1.875;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.banner button:hover {
    background-color: #188CE8;
    }

.qualities {
    padding-top: 94px;
}


.qualities ul    {
    margin-left: calc(-1 * var(--margin-li));
}

.quality {
    text-align: left;
    font-size: 14px;
    color: var(--brand-color-link);
    line-height: 1.786;
    letter-spacing: 0.03em;
    flex-basis: calc(100% / 4 - var(--margin-li));
    margin-left: var(--margin-li);
}

.qualities h2 {
    display: none;
}

.quality h3 {
    color: var(--brand-color);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.172;
    font-size: 14px;
    margin: 0;
}

.quality p {
    margin: 10px 0;
}

.about ul    {
    margin-left: calc(-1 * var(--margin-li));
}

.about li {
        flex-basis: calc(100% / 3 - var(--margin-li));
    margin-left: var(--margin-li);
}

.person {
    display: flex;
}

.block {
    background-color: var(--brand-color-white);
    text-align: center;
}

.team {
    margin: 0 auto;
    text-align: center;
    background-color: #F5F4FA;
    padding: 94px 0;
}

.team ul {
    margin-left: calc(-1 * var(--margin-li));
}

.team .block {
    flex-basis: calc(100% / 4 - var(--margin-li));
    margin-left: var(--margin-li);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}

.block-info {
    padding: 30px 0;
}

h3.name {
    margin:0 0 10px 0;
    font-size: 16px;
    font-weight: 500;
}

p.position {
    color: var(--brand-color-link);
    line-height: 1.172;
    margin: 0;
}

.footer {
    background-color: var(--brand-color-background);
    padding: 60px 0;
}


a.logo-footer {
    color: var(--brand-color-white);
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    padding-bottom: 20px;
    line-height: 1.174;
    display: block;
}

address {
    display: flow-root;
    color: var(--brand-color-white);
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.714;
}

address p {
    margin: 0 0 9px 0;
}

address a {
    margin-top: 9px;
    color: var(--brand-color-white);
    text-decoration: none;
    opacity: 0.6;
}

p.last {
    margin-bottom: 0;
}

/* Portfolio */


ul.filter {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

button {
    color: var(--brand-color);
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    padding: 9.5px 22px;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.03em;
}

ul.filter>li {
     margin-right: 8px;
}

button:focus-within {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

button:hover, button:focus {
    background-color: var(--brand-color-blue);
    color: var(--brand-color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
    flex-wrap: wrap;
}

.portfolio > .project {
    flex-basis: calc(100% /3 - var(--margin-li));
    margin-left: var(--margin-li);
    margin-top: var(--margin-li);
}

.portfolio {
    flex-wrap: wrap;
    display: flex;
    margin-left: calc(-1 * var(--margin-li));
    margin-top: calc(-1 * var(--margin-li));
}

.portfolio h1 {
    display: none;
}

.squere {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 20px 24px;
}

h2.title {
    line-height: 2;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    text-align: left;
}

p.info {
    font-size: 16px;
    color: var(--brand-color-link);
    letter-spacing: 0.03em;
    line-height: 1.875;
    margin: 0;
    }

